/* GameCardHome.css */
.game-card-home {
    position: relative;
    background-color: white;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.game-card-home-background {
    position: absolute;
    inset: 0;
}

.game-card-home-background-overlay {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, white, gray 400%, gray 800%);
}

.game-card-home-image {
    position: absolute;
    inset: 0;
    background-image: url('https://res.cloudinary.com/dznumjlzc/image/upload/v1724072310/formula1/4-removebg-preview_o2m4mp.png');
    opacity: 0.3;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
}

.game-card-home-content {
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.game-card-home-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.game-card-home-title {
    text-shadow: -1px -1px 1px gray;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: black;
}

.game-card-home-description {
    color: black;
    font-weight: bold;
    margin-bottom: 1rem;
}

.game-card-home-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #E3342F;
    color: white;
    font-weight: 600;
    border-radius: 0.375rem;
}

.game-card-home-link:hover {
    background-color: #CC1F1A;
}